/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeede;

  /* Becase we want header to be sticky later */

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.banner {
  height: 2.9rem;
  width: 100%;
}

/**************************/
/* NAVIGATION*/
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #233349;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #606c38;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #233349;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #606c38;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background-color: #eaeede;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close"] {
  display: none;
}

/**************************/
/* HERO SECTION*/
/**************************/

.section-hero {
  background-color: #eaeede;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.9fr 1.2fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  display: flex;
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #eaeede;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #233349;
  font-weight: 700;
}

/**************************/
/* HOW IT WORKS SECTION*/
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #a3b36c;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;

  padding-bottom: 60%;
  /* background-color: #a3b36c; */
  background-image: linear-gradient(
    to right bottom,
    rgba(152, 236, 104, 0.432),
    rgba(182, 255, 127, 0.185)
  );

  z-index: -2;
}

/* .step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #a3b36c;
  z-index: -1;
} */

.step-img {
  width: 60%;
}

/**************************/
/* TESTIMONIALS SECTION*/
/**************************/

.section-testimonials {
  background-color: #eaeede;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  column-gap: 8rem;
}

/**************************/
/* ABOUT SECTION*/
/**************************/

.about-container {
  padding: 9.6rem;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
  column-gap: 8rem;
}

.about-img {
  /* width: 6.4rem; */
  width: 10.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.about-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.about-name {
  font-size: 1.6rem;
  color: #233349;
}

/**************************/
/* GALLERY SECTION*/
/**************************/

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15); */
  box-shadow: 0 2.4rem 4.8rem rgba(255, 253, 139, 0.658);
  border-radius: 11px;

  background-image: linear-gradient(
    to right bottom,
    rgba(255, 218, 139, 0.493),
    rgba(127, 109, 8, 0.247)
  );
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #233349;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 234, 139, 0.418),
      rgba(187, 185, 100, 0.445)
    ),
    url(../img/gallery/gallery-1.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #f2fde9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(237, 253, 233, 0.5);
}

/* 


.btn-grad {background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 } */

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  /* padding: 12.8rem 0; */
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-color: #eaeede;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.logo {
  height: 2.2rem;
}
